<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://aiontv.local/AiOnTv"
        version="0.1.0"
        viewmodes="maximized">
  <!-- package id Samsung: exatamente 10 caracteres alfanuméricos -->
  <tizen:application id="AiOnTv0001.AiOnTv" package="AiOnTv0001" required_version="2.3"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <icon src="icon.png"/>
  <name>AI on TV</name>
  <description>AI thin client for Samsung Tizen TV</description>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:profile name="tv-samsung"/>
  <access origin="*" subdomains="true"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="2.4"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
</widget>
